<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ font-secondary }}:400,400i,700,700i|{{ font-primary }}:400,400i,700,700i">
    <link rel="stylesheet" href="{{ stylesheet }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="yummo-site" class="{{ theme }}">
<div class="container center">
    <header>
        <div class="yolo-header">
            <h2 class="description no-toc">{{ description }}</h2>
        </div>
    </header>
    <main>
        <div id="ig-{{ ig.name }}">
            <h3>{{ ig.description }}</h3>
            {% for column in ig.images %}
                {% assign column-index = forloop.index %}
                {% for image in column %}
                    {% assign row-index = forloop.index %}
                    <img class="image square"
                         onclick="ImageGrids.instance('{{ ig.name }}').openImage('{{ ig.name }}-image-{{ row-index }}-{{ column-index }}');"
                         alt="{{ image.caption }}"
                         src="{{ image.src }}">
                {% endfor %}
            {% endfor %}
        </div>
    </main>
    <footer>
    </footer>
</div>
<script src="./assets/js/yummo/utils/utils.js"></script>
<script src="./assets/js/yummo/imagegrid/imagegrid.js"></script>
</body>
</html>